:root {
  --color-primmary: #1cbbb4;
  --color-primmary-rgb: 28, 187, 180;
  --color-secondary: #ffad1d;
  --color-secondary-rgb: 255, 173, 29;
  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;
}
