header{
  z-index: 2;
  position: fixed;
  box-shadow: inset 0px 34px 53px -30px rgba($color: #000000, $alpha: 0.5);
  width: 100%;
}

.navBar{
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  .brand{
    font-size: 1.3em;
    color: white;
  }
  .menu{
    .nav, .auth, .search, a, mat-icon{
      color: white;
    }

    .nav{
      &-link{
        margin: 0px 20px;
      }
    }
    .auth{
      margin-right: 20px;
    }
  }
}

.nav{

}


footer{
  font-size: 0.75rem;
  padding: 25px 0px;
  .nav{
    flex: 1
  }
  .socials{
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    label{
      margin-right: 20px;
    }

    &-links{
      mat-icon{
        margin-right: 20px;
      }
    }
  }
}
