<header>
  <div class="container">
    <div class="row">
      <div class="col-12 navBar flex">
      <a [routerLink]="['home']" class="brand">
        Rule of Thumb.
      </a>
      <div class="menu flex">
        <nav class="nav flex">
          <a class="nav-link" [routerLink]="['pass-trials']">Pass Trials</a>
          <a class="nav-link" [routerLink]="['how-it-works']">How It Works</a>
          <div class="auth nav-link">
            <a [routerLink]="['/login']">Log In</a> / <a [routerLink]="['/sign-up']">SignUp</a>
          </div>
        </nav>
        <a class="search" href="#">
          <mat-icon aria-hidden="false" aria-label="Search" svgIcon="iconSearch"></mat-icon>
        </a>
      </div>
    </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="container">
  <div class="row">
    <div class="col-12 menu flex">
      <nav class="nav flex">
        <a class="nav-link" href="#">Terms and Conditions</a>
        <a class="nav-link" href="#">Privacy Policy</a>
        <a class="nav-link" href="#">Contact Us</a>
      </nav>
      <div class="socials flex">
        <label>Folow Us</label>
        <div class="socials-links">
          <mat-icon svgIcon="iconFacebook"></mat-icon>
          <mat-icon svgIcon="iconTwitter"></mat-icon>
        </div>
      </div>
    </div>
  </div>
</footer>
